pipeline/Copy Files By Last Modified Date.json
{
	"name": "Copy Files By Last Modified Date",
	"properties": {
		"description": "Copy new and changed files only by using LastModifiedDate",
		"activities": [
			{
				"name": "Copy New Files From File Share to Blob",
				"description": "Copy new and changed files from file share to Azure Blob, based on LastModifiedDate.  ",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "FileSystemSource",
						"recursive": true
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true
				},
				"inputs": [
					{
						"referenceName": "DS_FileShareName",
						"type": "DatasetReference",
						"parameters": {
							"SubFolderName": {
								"value": "@pipeline().parameters.FileShare_Source",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SK1_Blob_Destination1",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": {
								"value": "@pipeline().parameters.Blob_Destination",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileShareName",
						"type": "DatasetReference",
						"parameters": {
							"SubFolderName": {
								"value": "@pipeline().parameters.FileShare_Source",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"lastModified"
					]
				}
			}
		],
		"parameters": {
			"FileShare_Source": {
				"type": "String"
			},
			"Blob_Destination": {
				"type": "String",
				"defaultValue": "store1"
			},
			"LastModified_From": {
				"type": "String",
				"defaultValue": "@{activity('Get Metadata').output.lastModified}"
			},
			"LastModified_To": {
				"type": "String",
				"defaultValue": "@utcnow()"
			}
		}
	}
}