pipeline/PL_CopyFile2Blob.json
{
	"name": "PL_CopyFile2Blob",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_FileShare_Binarry",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"itemName",
						"size"
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Copy1').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy1",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "FileSystemSource",
									"recursive": true
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_FileShare_Binarry",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SK_BlobStore",
									"type": "DatasetReference",
									"parameters": {
										"path": "store"
									}
								}
							]
						}
					]
				}
			}
		]
	}
}